html,
body{
    height: 100%;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("cheese-delicious-dinner-2232.jpg");
    color: blue;
}

form { 
    margin: 0 auto; 
    width:250px;
    font-weight: bold;
}